body {
  background-color: black;
}

button {
  border: none;
  color: white;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  font-size: 26px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.numbers {
  background-color: rgb(51, 51, 51);
}

.clear {
  font-size: 17px;
  background-color: rgb(51, 51, 51);
}

.orangeButtons {
  background-color: rgb(254, 160, 10);
}

.calculation {
  color: white;
  font-size: 45px;
  margin-top: 15px;
  margin-bottom: 5px;
}