  body {
      background-color: rgb(25, 25, 25);
      color: white;
      font-family: Arial;
    }

    .title {
      font-size: 30;
      font-weight: bold;
    }

    .move-icon {
      height: 50px;
      border-radius: 50%;
    }

    .move-button {
      background-color: transparent;
      border: 3px solid white;
      width: 120px;
      height: 120px;
      border-radius: 60px;
      margin-right: 10px;
      cursor: pointer;
    }

    .result {
      font-weight: bold;
      font-size: 25px;
    }

    .button-reset-score,
    .button-auto-play {
      background-color: white;
      border: none;
      padding: 10px 15px;
      font-size: 15px;
      cursor: pointer;
    }